.input-field {
  width: 50%;
  margin: 0 auto;
}

.input-text {
  width: 80%;
  padding: 0.7rem;
  font-size: 1rem;
  border: 0px 2px;
}
.input-button {
  width: 10%;
  padding: 0.7rem;
  border-color: rgb(101, 206, 53);
  border-radius: 5px;
  background-color: rgb(101, 206, 53);
}
